.App {
  font-family: sans-serif;
  text-align: center;
}

body {
  font-family: "Play", sans-serif;
}

div a {
  text-decoration: none;
}

h2 {
  font-weight: 600;
  font-size: 25px;
}

p {
  text-align: center;
}

.container {
  background-image: url(/public/img/mario-bros-bg.jpg);
  background-position: bottom;
  background-repeat: repeat-x;
  background-color: #ade5fe;
  padding: 15px 15px 165px;
  max-width: 700px;
}
